var period_id = <%= @period.id %>

$('#all_stays table tbody tr').each(function(){

  var id = $(this).data('id');

  if (id == period_id) {

    var this_row = $(this);

    btn_text = this_row.find(">:nth-child(4) .btn-primary").html();
    this_row.find(">:nth-child(4) .btn-primary").html('<i class="fa fa-spinner fa-spin fa-fw"></i>');


    $('#all_stays table td').addClass('text-muted active').find('a').attr('disabled', 'disabled');

    var edit_form = $('<tr id="edit_period_form"><td class="active" colspan="4"><%= j render "periods/form", period: @period %></td></tr>').hide();

    edit_form.find('.form-inputs').append('<a href="#" class="cancel text-muted btn btn-sm">Cancel</a>');

    this_row.after(edit_form);
    edit_form.slideDown();

    $('.cancel').click(function (e) {
      // prevent the default click action
      e.preventDefault();
      // show the edit form
      edit_form.hide();
      $('#all_stays table td').removeClass('text-muted active').find('a').removeAttr("disabled");
    });

    date_picker();
    validate_submit();
    this_row.find(">:nth-child(4) .btn-primary").html(btn_text);

  }

});