<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h4>Edit Period</h4>

      <%= render 'form', period: @period %>
    </div>
  </div>
</div>
