//Calendar dates for booking
var date_picker = function(){

  var max_date = "";

  if ($('#user_last_entry').val()) {
    max_date = $('#user_last_entry').val();
  }

  $( ".first_day" ).datepicker({
    dateFormat: "MM dd, yy",
    defaultDate: 0,
    // maxDate: 0,
    maxDate: max_date,
    defaultDate: 0,
    changeMonth: false,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      if (selectedDate) {
        $(this).parents('.form-inputs').find( ".last_day").datepicker( "option", {"minDate": selectedDate, "defaultDate": selectedDate} );
        $(this).change();
      }
    }
  });
  $( ".last_day" ).datepicker({
    dateFormat: "MM dd, yy",
    defaultDate: +1,
    // maxDate: 0,
    maxDate: max_date,
    changeMonth: false,
    numberOfMonths: 1,
    onClose: function( selectedDate ) {
      if (selectedDate) {
        $(this).parents('.form-inputs').find( ".first_day").datepicker( "option", {"maxDate": selectedDate, "defaultDate": selectedDate} );
        $(this).change();
      }
    }
  });
};
//end calendar dates for booking

var validate_submit = function() {
  var first_day_input = $('#all_stays tr .first_day');
  var last_day_input = $('#all_stays tr .last_day');
  var latest_planned_input = $('.latest_planned');

  if (first_day_input.val() != '' && last_day_input.val() != '') {
    first_day_input.parents('.form-inputs').find('.stay_submit').prop("disabled", false);
  } else {
    first_day_input.parents('.form-inputs').find('.stay_submit').prop("disabled", true);
  }

  if (latest_planned_input != '') {
    $('#calculate').prop("disabled", false);
  } else {
    $('#calculate').prop("disabled", true);
  }

    //on change
  first_day_input.change(function() {
    var last_day_val = $(this).parents('.form-inputs').find('.last_day').val();
    if ($(this).val() != '' && last_day_val != '') {
      $(this).parents('.form-inputs').find('.stay_submit').prop("disabled", false);
    } else {
      $(this).parents('.form-inputs').find('.stay_submit').prop("disabled", true);
    }
  });

  last_day_input.change(function() {
    var last_day_val = $(this).parents('.form-inputs').find('.first_day').val();
    if ($(this).val() != '' && last_day_val != '') {
      $(this).parents('.form-inputs').find('.stay_submit').prop("disabled", false);
    } else {
      $(this).parents('.form-inputs').find('.stay_submit').prop("disabled", true);
    }
  });

  latest_planned_input.change(function() {
    if ($(this).val() != '') {
      $('#calculate').prop("disabled", false);
    } else {
      $('#calculate').prop("disabled", true);
    }
  });
};

var period_id = <%= @period.id %>

$('#all_stays table tbody tr').each(function(){

  var id = $(this).data('id');

  if (id == period_id) {

    var this_row = $(this);

    btn_text = this_row.find(">:nth-child(4) .btn-primary").html();
    this_row.find(">:nth-child(4) .btn-primary").html('<i class="fa fa-spinner fa-spin fa-fw"></i>');


    $('#all_stays table td').addClass('text-muted active').find('a').attr('disabled', 'disabled');

    var edit_form = $('<tr id="edit_period_form"><td class="active" colspan="4"><strong class="pull-left btn"><i class="fa fa-pencil"></i></strong><%= j render "periods/form", period: @period %></td></tr>').hide();

    edit_form.find('.form-inputs').append('<a href="#" class="cancel text-muted btn">Cancel</a>');

    this_row.after(edit_form);
    edit_form.slideDown();

    $('.cancel').click(function (e) {
      // prevent the default click action
      e.preventDefault();
      // show the edit form
      edit_form.hide();
      $('#all_stays table td').removeClass('text-muted active').find('a').removeAttr("disabled");
    });

    date_picker();
    validate_submit();
    this_row.find(">:nth-child(4) .btn-primary").html(btn_text);

  }

});