<footer class="main text-center bg-dark">
  <a href="http://www.norydev.com"><img src="https://avatars2.githubusercontent.com/u/9248448?v=3&s=460" alt="norydev" class="img-circle"> <span class="text-uppercase text-small"> by norydev</span></a>
  <div class="footer-menu">
    <%= link_to "About", page_path('about'), class: "text-uppercase text-small" %>
  </div>
</footer>