<%= content_for(:title) do %>
  Visa Countdown
<% end %>

<%= content_for(:description) do %>
  The Schengen area and Turkey are among the countries in which many foreigners can stay with a tourist visa for 90 days in ANY 180 days period. Calculate when you must leave or when you can re-enter.
<% end %>

<div class="container-fluid">
  <div class="row xs-marged">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <form action="user_details" method="post">
        <div class="form-group">
          <label for="citizenship" class="text-uppercase">Citizenship:</label>
          <%= select("Citizenship", "citizenship", @countries, {:include_blank => false}, class: "form-control text-uppercase") %>
        </div>
        <div class="form-group">
          <label for="destination" class="text-uppercase">Destination:</label>
          <select id="destination" name="user[destination]" class="form-control text-uppercase">
            <option id="dest_schengen" value="Schengen" class="text-uppercase">Schengen area</option>
            <option id="dest_turkey" value="Turkey" class="text-uppercase">Turkey</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>