/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  font-weight: 300;
}

a[disabled] {
    pointer-events: none;
}

#disclaimer {
  margin-top: 100px;
}

.xs-marged {
  margin: 0
}

@media (max-width:767px){
  .xs-marged {
    margin-left: 1%;
    margin-right: 1%;
  }
}