/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  font-weight: 300;
}

a[disabled] {
    pointer-events: none;
}

table {
  font-size: 0.8em;
}

strong {
  font-weight: 500;
}

.vertical-align {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.text {
  &-mini {
    font-size: 0.7em;
  }
  &-small {
    font-size: 0.8em;
  }
  &-average {
    font-size: 1.2em;
  }
  &-medium {
    font-size: 1.4em
  }
  &-large {
    font-size: 2em;
  }
}

.top-right {
  position: absolute;
  top: 0;
  right: 5px;
  & a {
  color: $gray-lighter;
    &:hover, &:focus {
      color: $gray-light;
      outline: none;
    }
  }
}

.citizen {
  &-text {
    display: inline-block;
    margin: 0 auto;
  }
  &-flag {
    vertical-align: baseline;
    margin-right: 5px;
    box-shadow: 0 0 4px 1px #ddd;
  }
}

.btn-ghost {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: $gray-lighter;
    &:hover, &:focus {
      color: $gray-light;
      outline: none;
    }
}

#disclaimer {
  margin-top: 50px;
}

.xs-marged {
  margin: 0
}

.table-padded {
  padding: 0 0.5em;
  &:first-child {
    padding: 0
  }
  &:last-child {
    padding: 0
  }
}

.line-height-medium {
  line-height: 175%;
}

.border {
  border: 1px solid $gray-ultralight;
}

@media (max-width:767px){
  .xs-marged {
    margin-left: 1%;
    margin-right: 1%;
  }
}