/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

body {
  font-weight: 300;
}

a[disabled] {
    pointer-events: none;
}

table {
  font-size: 0.8em;
}

#disclaimer {
  margin-top: 50px;
}

.xs-marged {
  margin: 0
}

.table-padded {
  padding: 0 0.5em;
  &:first-child {
    padding: 0
  }
  &:last-child {
    padding: 0
  }
}

.text-large {
  font-size: 2em;
  padding: 1.5em 5%;
  margin: 1em 0;
}

.line-height-medium {
  line-height: 175%;
}

@media (max-width:767px){
  .xs-marged {
    margin-left: 1%;
    margin-right: 1%;
  }
}