.ui-datepicker {
  font-size: 90%;
  background: $gray-darker;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-transform: uppercase;
}

.ui-datepicker .ui-widget {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

.ui-datepicker {
  padding: 0;
}

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 0.9em;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.ui-datepicker .ui-datepicker-title {
  margin-top: .4em;
  margin-bottom: .3em;
  color: #fff;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  top: .9em;
  border:none;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  margin-top: 0;
  top: 0;
  font-weight: normal;
}

.ui-datepicker table {
  margin: 0;
}

.ui-datepicker th {
  padding: 1em 0;
  color: #ccc;
  font-weight: normal;
  border: none;
  border-top: 1px solid #3a414d;
  font-size: 0.9em;
}

.ui-datepicker td {
  background: $red;
  border: none;
  padding: 0;
}

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: .5em;
  margin: 0;
  font-weight: normal;
  color: #fff;
}

.ui-datepicker .ui-state-disabled  {
  opacity: 1;
}

.ui-datepicker .ui-state-disabled .ui-state-default {
  color: #fba49e;
}

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  background: $gray-darker;
}


.ui-datepicker .ui-icon-circle-triangle-e {
  background-image: none;
  margin-top: 4px !important;
  height: 6px;
  border-left: 6px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -moz-transform: scale(.9999);
}

.ui-datepicker .ui-icon-circle-triangle-w {
  background-image: none;
  margin-top: 4px !important;
  height: 6px;
  border-right: 6px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -moz-transform: scale(.9999);
}
