<li class="list-group-item bg-<%= status_color(destination) %> text-uppercase padded-mini">
  <div class="text-center padded-mini-bottom">
    <span class="text-medium"><strong><%= destination %></strong></span>
  </div>
  <div class="row">

<% if destination.policy.freedom? %>
      <div class="col-xs-12 text-center">
        <span class="text-small">Freedom of movement</span>
      </div>
<% elsif destination.countdown
  case destination.countdown.situation
  when "inside_ok", "outside_ok" %>
    <div class="col-xs-6">
      <div class="text-mini">Remaining time</div>
      <div class="text-average"><strong><%= destination.countdown.remaining_time %> days</strong></div>
    </div>
    <div class="col-xs-6 text-right">
      <div class="text-mini">Latest exit</div>
      <div class="text-average"><strong><%= date_format(destination.countdown.exit_day) %></strong></div>
    </div>
  <% when "overstay" %>
    <div class="col-xs-12 text-center">
      <div class="text-average"><strong><i class="fa fa-exclamation-triangle"></i> You are in overstay</strong></div>
    </div>
  <% when "current_too_long" %>
  <% when "one_next_too_long" %>
  <% when "quota_will_be_used_can_enter" %>
  <% when "quota_will_be_used_cannot_enter" %>
  <% when "quota_will_be_used_no_entry" %>
  <% when "quota_used_can_enter" %>
  <% when "quota_used_cannot_enter" %>
  <% when "quota_used_no_entry" %>
  <% end %>
<% end %>

  </div>
</li>